// 夜间模式
$blackColor = #99a9bf;
$blackBackColor = #2d3032;
$blackCodeColor = #d83b64;
$blackCodeBgColor = #f9f2f4;
$blackTitleColor = #ffffff;

//阅读模式
// $blackColor = #2d3032;
// $blackBackColor = #F9E9CC;
