@require './black'
$defaultWidth = 900px!important;  //pc端全局高度

body{
    text-shadow: 0 3px 6px rgba(0,0,0,.1)!important;
    transition: all .3s;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  border-radius: 10px;
  /* 线性渐变 */
  background-image: -webkit-gradient(linear, 
  left bottom, left top,
   color-stop(0.44, rgb(60,186,146)), 
   color-stop(0.72, rgb(253,187,45)), 
   color-stop(0.86, rgb(253,187,45)));
  transition: 0.3s ease-in-out;
}
/*定义滑块悬浮样式*/
::-webkit-scrollbar-thumb:hover{
  background-image: -webkit-gradient(linear, 
  left bottom, left top, 
  color-stop(0.44, rgb(253,187,45)), 
  olor-stop(0.72, rgb(253,187,45)), 
  color-stop(0.86, rgb(60,186,146)));
  transition: 0.3s ease-in-out;
}

.theme-default-content:not(.custom){
  max-width: $defaultWidth;  
}

// 修改valine 

#valine-vuepress-comment{
  width: 70%;
  margin: 0 auto;  
}

.page-edit, .page-nav{
  max-width: $defaultWidth;  
}

.juzhong{
  width: 70%;
  margin: 1rem auto!important;
  box-sizing: border-box;
}

@media screen and ( max-width:768px ){
    #valine-vuepress-comment{
    width: 85%; 
  }
  .juzhong{
    width: 85%;
  }
}

// 夜晚主题样式表
.night{
  color: $blackColor;
  background-color: $blackBackColor;
}
.night .sidebar{
  color: $blackColor;
  background-color: $blackBackColor;
}
.night .navbar{
  color: $blackColor;
  background-color: $blackBackColor;
}
.night .sidebar-heading{
  color: $blackColor;
}
.night a.sidebar-link{
  color: $blackColor;
}
.night .navbar .site-name{
  color: $blackColor;
}
.night .navbar .links{
  background-color: $blackBackColor;
}
.night .nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active{
  color: #1dd1a1;
}
.night .search-box input{
  background: $blackBackColor url(/assets/img/search.83621669.svg) 0.6rem 0.5rem no-repeat;
}
.night a.sidebar-link.active{
  color: #1dd1a1;
}
.night a.sidebar-link:hover{
  color: #1dd1a1;
}
.night .v *{
  color: $blackColor;
}
.night .theme-default-content code{
  color: #d83b64;
  background-color: #f9f2f4;
  opacity:0.9;  
}